.footer__column-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  -webkit-transition: opacity .75s ease-in-out;
  -moz-transition: opacity .75s ease-in-out;
  -ms-transition: opacity .75s ease-in-out;
  -o-transition: opacity .75s ease-in-out;
  transition: opacity .75s ease-in-out;
}

.footer__column-link:hover {
  opacity: 0.5;
}
