.khan__buy-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  height: fit-content;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  -webkit-transition: opacity .75s ease-in-out;
  -moz-transition: opacity .75s ease-in-out;
  -ms-transition: opacity .75s ease-in-out;
  -o-transition: opacity .75s ease-in-out;
  transition: opacity .75s ease-in-out;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
